{{> header}}
<div class="content">

<section id="viewWelcome">
    <div class="welcome">
        <div class="signup">
            {{> login}}
           {{> register}}
        </div>

       {{> welcome}}
    </div>
</section>

</div>
{{> footer}}